
<style>
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
<link rel="stylesheet" href="movie.css"

html {
  width: 320px;
  margin:0 auto 0 auto;
  font-family: Georgia, serif;
}

h1,
h2 {
  font-family: 'Major Mono Display', monospace;
}

h1 {
  font-size: 60px;
}
</style>
